<!DOCTYPE html>
<html>
  <head>
    <title>Beautiful Form with Email and File Inputs</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h1 {
        color: green;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>File successfully uploaded and sent to respective emails</h1>
      <a href="/">Go back to file upload page</a>
    </div>
  </body>
</html>
